// style.css

html {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow: scroll;
    background: linear-gradient(135deg, #ffffff 0%,#e8f1f5 100%);
}
/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.insertDataButton {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 200px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
/* Side navigation links */
.sidenav label {
  color: white;
}

.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 200px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsibleContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}
/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 200px;
  top: 0;
  width: 500; /* Full width */
  height: 500; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.data-insert-form {
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
}
